/**
 *  The following imports are manually copied from the component library.
 *  It's probably a good idea to only add things that do not compile, like variables and mixins.
 *. https://github.com/RegionHalland/styleguide/
 *
**/

@import 'settings/settings';
@import 'mixins/palette';

.jump-to-content {
	display: block;
	background: $white;
	position: absolute;
	overflow: hidden;
	text-align: center;
	height: 0;
}

.jump-to-content:focus {
	position: initial;
	border: 4px solid darken($grey, 24%);
	padding: $space-2;
	height: auto;
}
