/**
 *  The following imports are manually copied from the component library.
 *  It's probably a good idea to only add things that do not compile, like variables and mixins.
 *. https://github.com/RegionHalland/styleguide/
 *
**/

@import 'settings/settings';
@import 'mixins/palette';

.jump-to-content {
	display: block;
	background: $white;
	position: absolute;
	overflow: hidden;
	text-align: center;
	height: 0;
}

.jump-to-content:focus {
	position: initial;
	border: 4px solid darken($grey, 24%);
	padding: $space-2;
	height: auto;
}

.content-highlight {
	animation-name: content-hightlight-animation;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-iteration-count: 1;
}

@keyframes content-hightlight-animation {
	0% { background: $blue; }
	100% { background: none; }
}

@media screen and (min-width: 769px) {
	.content-nav__head {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.content-nav__head {
		display: block;
		padding-left: 2ex;
	}

	.content-nav__page-name {
		font-size: 80%;
		float: left;
	}

	.content-nav__toggle-container {
		float: right;
		padding-right: 1em;
		padding-bottom: 1em;
		font-weight: bold;
		font-size: 150%;
		height: 1ex;
	}

	.content-nav {
		display: none;
	}

	.content-nav-container {
		width: 100%;
		background-color: $light-yellow;
		position: fixed;
		top: 0;
		left: 0;
		box-shadow: 2px 5px 5px grey;
	}

	.content-nav__currently-active {
		font-weight: bold;
		clear: both;
	}

	.content-nav__item {
		padding-top: 1ex;
		padding-bottom: 1ex;
		padding-left: 2ex;
		border-bottom: 1px solid $grey;
		border-left: 0;
	}

	.content-nav__item.active {
		background-color: whitesmoke;
	}

	.content-nav__level_h3 {
		padding-left: 4ex;
	}

	.content-nav__level_h4 {
		padding-left: 6ex;
	}

	.content-nav h4 {
		display: none;
	}

	:target {
		padding-top: 25px;
	}
}
