/**
 *  The following imports are manually copied from the component library.
 *  Do not add styles or imports that compile to actual CSS.
 *. https://github.com/RegionHalland/styleguide/
 *
**/

@import 'settings/settings';
@import 'mixins/palette';

.jump-to-content {
	display: block;
	background: $white;
	position: absolute;
	overflow: hidden;
	text-align: center;
	height: 0;
}

.jump-to-content:focus {
	position: initial;
	border: 4px solid darken($grey, 24%);
	padding: $space-2;
	height: auto;
}

.content-highlight {
	animation-name: content-hightlight-animation;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-iteration-count: 1;
}

@keyframes content-hightlight-animation {
	0% { background: $blue; }
	100% { background: none; }
}

.cookie-notice__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media screen and (min-width: $breakpoint-sm) {
		flex-wrap: nowrap;
	}
}

.cookie-notice__btn-container {
	flex: 1 0 auto;
}

/* Tabeller m "sticky column"-beteende */

.article table,
table {
	border: none;
}

.table__sticky-column {
	left: 0;
	position: absolute;
	width: 8em;
	font-weight: bold;
}

.table__sticky-column-shadow {
	border-right: 10px solid grey;
	border-image: linear-gradient(to right, rgba(80, 80, 80, 0.2), rgba(220, 220, 220, 0.2)) 1 100%;
}

.table__sticky-column-container {
	overflow-x: auto;
}

thead .table__sticky-column {
	background: $dark-blue !important;
	color: $white;
	text-align: center;
	vertical-align: middle;
	height: 3em;
}

.sticky-column__vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

th {
	text-transform: none;
	height: 3em;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

th .sticky-column__vertical-center {
	left: 0;
}

.sticky-column__vertical-center {
	left: 0;
}

td,
th .table__sticky-column {
	padding: $space-1 $space-2;
	white-space: nowrap;
	height: 3em;
	vertical-align: middle;
	text-align: center;
}

tbody tr:nth-child(even) .table__sticky-column {
	background: palette(grey, light);
}

.article tbody tr:nth-child(even) {
	background: palette(grey, light);
}

.table__sticky-column-container {
	margin-left: 8em;
}

.table,
article .table {
	border: 0;
}
